default: &defaults
  adapter: sqlite3
  encoding: utf8
  reconnect: true
  pool: 5
  username: root
  password:
  host: localhost
  timeout: 5000

development:
  <<: *default
  database: db/development.sqlite3

test:
  <<: *default
  database: db/test.sqlite3